<% provide :title, t(".home") %>
<%= link_to image_tag("fashion.jpg", alt: "Fashion logo", class: "img3"),
"https://greatmen.vn/" %>
<h2><%= t ".san_pham_moi" %></h2>
<section class="latest-products spad">
  <div class="row" id="product-list">
    <div class="col-lg-3 col-sm-6 mix all dresses bags">
      <div class="single-product-item">
        <figure>
          <%= link_to image_tag("lacoste-850.jpg", alt: "New Product", class: "img4"), "#" %>
          <div class="p-status">new</div>
        </figure>
        <div class="product-text">
          <h6><%= t ".lacoste_850" %></h6>
          <p><%= t ".d1" %></p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6 mix all dresses bags">
      <div class="single-product-item">
        <figure>
          <%= link_to image_tag("nike-den-1200.jpg", alt: "New Product", class: "img4"), "#" %>
          <div class="p-status">new</div>
        </figure>
        <div class="product-text">
          <h6><%= t ".nike_den_1200" %></h6>
          <p><%= t ".d2" %></p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6 mix all dresses bags">
      <div class="single-product-item">
        <figure>
          <%= link_to image_tag("burberry-800.jpg", alt: "New Product", class: "img4"), "#" %>
          <div class="p-status">new</div>
        </figure>
        <div class="product-text">
          <h6><%= t ".burberry_800" %></h6>
          <p><%= t ".d3" %></p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6 mix all dresses bags">
      <div class="single-product-item">
        <figure>
          <%= link_to image_tag("discovery-1600.jpg", alt: "New Product", class: "img4"), "#" %>
          <div class="p-status">new</div>
        </figure>
        <div class="product-text">
          <h6><%= t ".discovery_1600" %></h6>
          <p><%= t ".d4" %></p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6 mix all dresses bags">
      <div class="single-product-item">
        <figure>
          <%= link_to image_tag("lacoste-800.jpg", alt: "New Product", class: "img4"), "#" %>
          <div class="p-status">new</div>
        </figure>
        <div class="product-text">
          <h6><%= t ".lacoste_800" %></h6>
          <p><%= t".d5" %></p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6 mix all dresses bags">
      <div class="single-product-item">
        <figure>
          <%= link_to image_tag("nike-xt-250.jpg", alt: "New Product", class: "img4"), "#" %>
          <div class="p-status">new</div>
        </figure>
        <div class="product-text">
          <h6><%= t ".nike_xt_250" %></h6>
          <p><%= t ".d6" %></p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6 mix all dresses bags">
      <div class="single-product-item">
        <figure>
          <%= link_to image_tag("massimo-900.jpg", alt: "New Product", class: "img4"), "#" %>
          <div class="p-status">new</div>
        </figure>
        <div class="product-text">
          <h6><%= t ".massimo_900" %></h6>
          <p><%= t ".d7" %></p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6 mix all dresses bags">
      <div class="single-product-item">
        <figure>
          <%= link_to image_tag("adidas-480.jpg", alt: "New Product", class: "img4"), "#" %>
          <div class="p-status">new</div>
        </figure>
        <div class="product-text">
          <h6><%= t ".adidas_480" %></h6>
          <p><%= t ".d8" %></p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="rover-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 offset-lg-1">
        <div class="rover-left">
          <div class="section-title">
            <h2>2019 <br />#rover</h2>
          </div>
          <p><%= t ".rover_section" %></p>
        </div>
      </div>
      <div class="col-lg-5 offset-lg-1">
        <div class="rover-pic">
          <%= link_to image_tag("chanyeol1.jpg", alt: "LOEY", class: "img5"), "#" %>
          <div class="pic-text">fashion</div>
        </div>
      </div>
    </div>
  </div>
</section>

