<footer class="footer-section spad">
  <div class="container">
    <div class="footer-widget">
      <div class="row">
        <div class="col-lg-3 col-sm-6">
          <div class="single-footer-widget">
            <h4><%= t ".ve_chung_toi" %></h4>
            <ul>
              <li><%= t ".ve_chung_toi" %></li>
              <li><%= t ".cong_dong" %></li>
              <li><%= t ".viec_lam" %></li>
              <li><%= t ".dang_chuyen_hang" %></li>
              <li><%= t ".lien_he" %></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="single-footer-widget">
            <h4><%= t ".cskh" %></h4>
            <ul>
              <li><%= t ".tim_kiem" %></li>
              <li><%= t ".cs_bao_mat" %></li>
              <li><%= t ".cam_nang" %></li>
              <li><%= t ".van_chuyen" %></li>
              <li><%= t ".bst" %></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="single-footer-widget">
            <h4><%= t ".dich_vu" %></h4>
            <ul>
              <li><%= t ".mien_phi_vc" %></li>
              <li><%= t ".hoan_tra" %></li>
              <li><%= t ".dieu_khoan" %></li>
              <li><%= t ".cs_bao_mat" %></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="single-footer-widget">
            <h4><%= t ".thong_tin" %></h4>
            <ul>
              <li><%= t ".phuong_thuc" %></li>
              <li><%= t ".thoi_gian" %></li>
              <li><%= t ".tra_lai" %></li>
              <li><%= t ".phuong_thuc_vc" %></li>
              <li><%= t ".su_phu_hop" %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="social-links-warp">
    <div class="container text-center pt-5">
      <p>
        &copy;<script>document.write(new Date().getFullYear());</script> <%= t(".thiet_ke_web") %>
      </p>
    </div>
  </div>
</footer>
